{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} : billy admin</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "scripts/jquery-1.7.1.min.js" %}"></script>
    <script src="{% static "scripts/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
    {#<script src="{% static "scripts/bootstrap-dropdown.js" %}"></script>#}
    {% block script %}
    {% endblock %}
    {% block style %}
    {% endblock %}
    <style>
    li {list-style-type: None;}
    .grey {color: gray;}
    .smallcaps {
        font-variant:small-caps;
        }
    #billAction {
        color: gray;
    }
    #billAction li.active {
        color: black;
    }
    .inline {display: inline;}

    .icon-superbig {
        font-size: 32px;
        text-align: center;
        padding-right: 4px;
      }
    </style>
</head>
  <body>
      <div class="navbar">
        <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">billy public</a>
            <ul class="nav">
                {% if metadata %}
                <li> <a href='{% url region metadata.abbreviation %}'>{{metadata.name}}</a> </li>
                <li class="divider-vertical"></li>
                <li> <a href='{% url bills metadata.abbreviation %}'>Bills</a> </li>
                <li> <a href='{% url legislators metadata.abbreviation %}'>Legislators</a> </li>
                <li> <a href='{% url committees metadata.abbreviation %}'>Committees</a> </li>
                {% endif %}
                {% block menu %}{% endblock %}
            </ul>
        </div>
        </div>
    </div>
    <div class="container">
        {% if alert %}
            <div class="alert alert-block alert-{{alert.type}}">
                <h4 class="alert-heading">{{alert.title}}</h4>
                {{ alert.message }}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
