{% extends "billy/web/public/base.html" %}
{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Open13 Demo!</h1>
        <p>Open 13 is project to blah blah blah...British Columbia is the demo province, blah...</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2><i class="icon-large icon-superbig icon-file"></i>  Bills</h2>
          <p>View all of British Columbia's bills.</p>
          <p><a class="btn" href="/bc/bills">View details &raquo;</a></p>
        </div>
        <div class="span6">
          <h2><i class="icon-large icon-user"></i>  Legislators</h2>
          <p>Get to know the people behind the parliamentary repartee!</p>
          <p><a class="btn" href="/bc/legislators">View details &raquo;</a></p>
       </div>
      </div>
      <hr/>
      <div class="row">
        <div class="span6">
          <h2><i class="icon-comment-alt icon-file"></i>  Hansard</h2>
          <p>Some Honorable Member says the speeches are SA-WEET.</p>
          <p><a class="btn" href="/bc/speeches">View details &raquo;</a></p>
        </div>
        <div class="span6">
          <h2><i class="icon-large icon-group"></i>  Committees</h2>
          <p>Rain down destruction upon committees.</p>
          <p><a class="btn" href="/bc/committees">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
{% endblock %}