{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load billy_utiltags %}

{% block content %}

<h2>Current {{metadata.name}} legislators</h2>

<div class="row">
    <div class="span12">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Riding</th>
                <th>Party</th>
            </tr>
        {% for legislator in legislators %}
            <tr>
                <td><a href="{{legislator.get_absolute_url}}">{{legislator.full_name}}</a></td>
                <td>{{legislator.district}}</td>
                <td>{{legislator.party}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
