{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load billy_utiltags %}
{% load i18n %}

{% block content %}

<h2>{{metadata.legislature_name}} <small><a href="{% url "event" abbr event.id %}" >Event page</a></small></h2>

<table class="withFilter">
    <thead>
        <tr id="titles">
            <th>{% trans "Who" %}</th>
            <th>{% trans "What they said" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for speech in speeches %}
        <tr class="{% cycle 'even' 'odd' %}">
            {% if speech.speaker_id %}
            <td><a href="{% url "legislator_noslug" abbr speech.speaker_id %}" >{{speech.speaker}}</a></td>
            {% else %}
            <td>{{speech.speaker}}</td>
            {% endif %}
            <td>{{speech.text}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
