{% extends "billy/web/public/base.html" %}
{% load url from future %}
{% load billy_utiltags %}
{% load i18n %}

{% block content %}

<h2>{{metadata.legislature_name}}</h2>

<table class="withFilter">
    <thead>
        <tr id="titles">
            <th>{% trans "Sessions" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for event in events %}
        <tr class="{% cycle 'even' 'odd' %}">
            <td><a href="{% url "speeches_by_event" abbr event.id %}" >{{event.description}}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
