Django>=1.4
django-pjax
-e hg+https://bitbucket.org/jespern/django-piston#egg=django-piston
argparse==1.1
boto
icalendar==2.1
jellyfish>=0.1.2
lxml>=2.2
name_tools>=0.1.2
nose
pymongo>=2.2
scrapelib>=0.7.0
unicodecsv
validictory
pyes
