Django>=1.4
django-pjax
-e hg+https://bitbucket.org/jespern/django-piston#egg=django-piston
boto
icalendar
lxml>=2.2
name_tools>=0.1.2
nose
pymongo>=2.2
scrapelib>=0.7.0
unicodecsv
validictory
pyes
celery

