Django<1.7
django-pjax
-e git://github.com/marcio0/django-piston/#egg=django-piston
boto
icalendar
lxml>=2.2
name_tools>=0.1.2
nose
pymongo==2.8.1
scrapelib>=1.0
unicodecsv!=0.9.3
validictory
pyelasticsearch

