<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}Data Browse{% endblock %}</title>
      <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
      <style>
          body { padding-top: 50px; }
      </style>
      {% block script %}
      {% endblock %}

      {% block style %}
      {% endblock %}
      
  </head>
  <body>
      <div class="topbar">
        <div class="topbar-inner">
        <div class="container">
            <a class="brand" href="/browse/">billy</a>
            <div class="container">
                <ul class="nav">
                    <li> <a href='/browse/'>Overview</a> </li>
                    {% block menu %}{% endblock %}
                </ul>
            </div>
        </div>
        </div>
    </div>
    {% if not nocontainer %}
        <div class = 'container' >
    {% endif %}
        {% if warning %}
            <div class = "alert-message block-message error" >
                {% if warning_title %}
                    <strong>{{ warning_title }}</strong><br />
                {% endif %}
                {{ warning }}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    {% if not nocontainer %}
        </div>
    {% endif %}
  </body>
</html>
