{% extends "billy/base.html" %}
{% load humanize %}

{% block content %}
<h2>{{ meta.name }} bill summary</h2>

<div id="tables">
{% for table in tables %}
  {{ table|safe }}
{% endfor %}
</div>

{% for name, session in sessions.iteritems %}

<div style="float: left; padding-right: 3em;" class="bills">
    <h4 width="100%">Bills for [{{name}}] </h4>
  <dl>
      <dt>Upper Chamber:</dt><dd>{{session.upper_count}}</dd>
      <dt>Lower Chamber:</dt><dd>{{session.lower_count}}</dd>
      <dt>Total Versions:</dt><dd>{{session.version_count}}</dd>
      <dt>Bills without sources:</dt><dd>{{session.versionless_count}}</dd>
  </dl>
  <h4 width="100%">Bill Types</h4>
  <table>
      <tr><th>Type</th><th>#</th></tr>
      {% for name, num in session.bill_types.iteritems %}
      <tr><td>{{name}}</td><td>{{num}}</td></tr>
      {% endfor %}
  </table>

  <h4 width="100%">Action Types</h4>
  <em>{{session.action_cat_percent}}% categorized</em>
  <table>
      <tr><th>Type</th><th>#</th></tr>
      {% for name, num in session.action_types.iteritems %}
      <tr><td>{{name}}</td><td>{{num}}</td></tr>
      {% endfor %}
  </table>
</div>

{% endfor %}

{% endblock %}
