{% extends "billy/base.html" %}
{% load humanize %}
{% load billy_utiltags %}

{% block content %}

<h2>{{ metadata.name }} bill summary</h2>
{{meta}}
<div id="tables">
{% for table in tables %}
  {{ table|safe }}
{% endfor %}
</div>


<h3>Actions by Month</h3>
<div>
{% for session, data in sessions.items %}
<div class="pull-left">
<table class="table table-bordered table-striped table-condensed">
  <tr><th style="text-align: center;" colspan="2">{{session}}</th></tr>
  {% for name, num in data.actions_per_month|sorted_items %}
    <tr><td>{{name}}</td><td>{{num|decimal_format}}</td></tr>
  {% endfor %}
</table>
</div>
{% endfor %}
</div>

{% endblock %}
