{% extends "billy/base.html" %}

{% block content %}
<style type="text/css">
    td.good { background-color: #b0ff66; }
    td.bad { background-color: #fc7c7d; }
    td.warning { background-color: #fcde7c; }
    /* collapse sidebar margin */
    .container-fluid > .content { margin-left: 10px; }
</style>

<div class="container-fluid">
<div class="content">
<table class="condensed-table bordered-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th colspan=5>Legislators</th>
        <th colspan=5>Committees</th>
        <th colspan=9>Bills</th>
        <th colspan=3>Votes</th>
    <tr>
        <th>State</th>
        <!-- legislators -->
        <th>upper</th>
        <th>lower</th>
        <th>No Source</th>
        <th>PVS</th>
        <th>TData</th>
        <!-- committees -->
        <th>upper</th>
        <th>lower</th>
        <th>joint</th>
        <th>empty</th>
        <th>leg_ids</th>
        <!-- bills -->
        <th>total</th>
        <th>No Actions</th>
        <th>No Sponsors</th>
        <th>No Versions</th>
        <th>No Source</th>
        <th>Bill Types</th>
        <th>w/ Subjects</th>
        <th>Actions w/ Types</th>
        <th>Sponsor leg_ids</th>
        <!-- votes -->
        <th>total</th>
        <th>leg_ids</th>
        <th>Bad Counts</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td><a href="{{row.id}}/">{{row.name}}</a></td>
        <!-- legislators -->
        <td class="{{row.legislators.upper_active_count|yesno:"good,bad"}}">
            {{row.legislators.upper_active_count}}</td>
        <td class="{{row.legislators.lower_active_count|yesno:"good,bad"}}">
            {{row.legislators.lower_active_count}}</td>
        <td class="{{row.legislators.sourceless_count|yesno:"bad,good"}}">
            {{row.legislators.sourceless_count}}</td>
        <td
            {% if row.legislators.votesmart_id < 75 %}
            class="bad"
            {% else %}
                {% if row.legislators.votesmart_id < 95 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.legislators.votesmart_id|floatformat}}%</td>
        <td
            {% if row.legislators.transparencydata_id < 75 %}
            class="bad"
            {% else %}
                {% if row.legislators.transparencydata_id < 95 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.legislators.transparencydata_id|floatformat}}%</td>
        <!-- committees -->
        <td class="{{row.committees.upper_count|yesno:"good,bad"}}">
            {{row.committees.upper_count}}</td>
        <td class="{{row.committees.lower_count|yesno:"good,bad"}}">
            {{row.committees.lower_count}}</td>
        <td class="{{row.committees.joint_count|yesno:"good,warning"}}">
            {{row.committees.joint_count}}</td>
        <td class="{{row.committees.empty_count|yesno:"bad,good"}}">
            {{row.committees.empty_count}}</td>
        <td
            {% if row.committees.members_with_leg_id < 75 %}
            class="bad"
            {% else %}
                {% if row.committees.members_with_leg_id  < 95 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.committees.members_with_leg_id|floatformat}}%</td>
        <!-- bills -->
        <td class="{{row.bills.bill_count|yesno:"good,bad"}}">
            {{row.bills.bill_count}}</td>
        <td class="{{row.bills.actionless|length|yesno:"bad,good"}}">
            {{row.bills.actionless|length}}</td>
        <td class="{{row.bills.sponsorless|length|yesno:"bad,good"}}">
            {{row.bills.sponsorless|length}}</td>
        <td class="{{row.bills.versionless|length|yesno:"bad,good"}}">
            {{row.bills.versionless|length}}</td>
        <td class="{{row.bills.sourceless_count|yesno:"bad,good"}}">
           {{row.bills.sourceless_count}}</td>
        <td class="{{row.bills.bill_types|length_is:"1"|yesno:"bad,good"}}">
            {{row.bills.bill_types|length}}</td>
        <td
            {% if not row.bills.have_subjects %}
            class="warning">---</td>
            {% else %}
                {% if row.bills.have_subjects < 25 %}
                class="bad"
                {% else %}
                    {% if row.bills.have_subjects < 90 %}
                    class="warning"
                    {% else %}
                    class="good"
                    {% endif %}
                {% endif %}
                >{{row.bills.have_subjects|floatformat}}%</td>
            {% endif %}
        <td
            {% if row.bills.typed_actions < 25 %}
            class="bad"
            {% else %}
                {% if row.bills.typed_actions < 50 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.bills.typed_actions|floatformat}}%</td>
        <td
            {% if row.bills.sponsors_with_leg_id < 75 %}
            class="bad"
            {% else %}
                {% if row.bills.sponsors_with_leg_id < 95 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.bills.sponsors_with_leg_id|floatformat}}%</td>

        <!-- votes -->
        <td class="{{row.bills.vote_count|yesno:"good,bad"}}">
            {{row.bills.vote_count}}</td>
        <td
            {% if row.bills.rollcalls_with_leg_id < 75 %}
            class="bad"
            {% else %}
                {% if row.bills.rollcalls_with_leg_id < 95 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.bills.rollcalls_with_leg_id|floatformat}}%</td>
        <td class="{{row.bills.bad_vote_counts|length|yesno:"bad,good"}}">
            {{row.bills.bad_vote_counts|length}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
