{% extends "billy/base.html" %}
{% load humanize %}
{% load billy_utiltags %}

{% block content %}
    <style>
.merge-from-1 { background-color: #f2c58b; }
.merge-from-2 { background-color: #d1acc0; }
.merge-from-N { background-color: #abdb3b; }
.dim          {
    /* to cut down ADD */
    opacity: .6;
}
    </style>
    <script type = 'text/javascript' src = 'http://code.jquery.com/jquery-1.7.1.min.js' ></script>
    <script type = 'text/javascript' >

$(document).ready(function() {
    /* Toggle the unmerging data */
    var _toggle_status = true; // hack!
    $(".root-merge-U").hide();
    $("#show-hidden").click(function() {
        $(".root-merge-U").fadeToggle( 500 );
        if ( _toggle_status ) {
            $("#show-hidden").text( "Nevermind, nevermind!" );
        } else {
            $("#show-hidden").text( "I want it back!" );
        }
        _toggle_status = ! ( _toggle_status );
    });
});

    </script>
    <div class = 'container' >
        <!--
            I was written with LOVE, a new scripting language where you write
            applications using 'feelings'. I feel good about that. How do you
            feel?
               - MOM (World of Goo)
        -->
        <div class="alert-message block-message error">
            <p><strong>Warning! Read me! This voids the warranty!!</strong></p>
            <br />
            <p>If you doubt what you're doing, or don't feel like you know exactly
            what's going to happen, <b>don't do it!</b> This has the potental
            to break the API for folks, so please do think twice.</p>
        </div>
        <h1>Merge Plan</h1>
        <div class = 'alert-message block-message info' >
            <strong>This is an incomplete listing!</strong>
            <br />
            <p>
            It's worth noting that all fields that have no change have been hidden
            from the default view. If you'd like to show them, feel free to toggle
            the fields on below.<br /><br />
            <button class = 'btn secondary' id = 'show-hidden' >
                gimme all you got
            </button>
            </p>
        </div>
        <ul>
            <li>The actions here will <b>remove</b> legislator
            <a href = '{% url legislator remove %}' >{{ remove }}</a></li>
            <li>The actions here will <b>update</b> legislator
            <a href = '{% url legislator merge.leg_id %}' >{{ merge.leg_id }}</a>
            </li>
        </ul>
        <div class = 'merge-plan' >
            <table>
                <tr>
                    <th>attr</th>
                    <th>info root</th>
                    <th>value</th>
                </tr>
                {% for key, val in merge_view.items %}
                    <tr class = 'root-merge-{{ val }}' >
                        <td><b>{{ key }}</b></td>
                        <td class = 'merge-from-{{ val }}'>{{ merge_view_info|key:val }}</td>
                        <td class = 'merge-from-{{ val }}'>
                            <table>
                                <tr>
                                    <td><b>New Value</b></td>
                                    <td><pre>{{ merge|key:key }}</pre></td>
                                </tr>
                                <tr class = 'dim' >
                                    <td>
                                    {% if leg1.leg_id == remove %}
                                        "Duplicated" Legislator
                                    {% else %}
                                        "Original" Legislator
                                    {% endif %}
                                    </td>
                                    <td><pre>{{ leg1|key:key }}</pre></td>
                                </tr>
                                <tr class = 'dim' >
                                    <td>
                                    {% if leg2.leg_id == remove %}
                                        "Duplicated" Legislator
                                    {% else %}
                                        "Original" Legislator
                                    {% endif %}
                                    </td>
                                    <td><pre>{{ leg2|key:key }}</pre></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            <table>
        </div>
        <h1>Approve this change</h1>
        <p>
            Approving this change means that
            you've looked over this data (very carefuly) and you consider this to
            be a valid and meaningful merge that will result in <b>no</b> net
            data loss. If you're not at all sure, this is your last chance to
            avoid the merge.
        </p>
        <form action = '{% url mom_commit %}' method = 'POST' >
            <input name = 'leg1' type = 'hidden' value = '{{ leg1.leg_id }}' />
            <input name = 'leg2' type = 'hidden' value = '{{ leg2.leg_id }}' />
            {% csrf_token %}
            &nbsp;
            <input name = 'sub'  type = 'submit' value = 'Make it so!'
                class = 'btn danger' />
        </form>
    </div>
{% endblock %}
