{% extends "billy/base.html" %}
{% load humanize %}
{% load billy_utiltags %}

{% block content %}
    <style>
.root-merge-fin {
    background-color:    #abd6ba;
}
    </style>
    <div class = 'container' >
        <div class="hero-unit">
            <h1>Merge Complete <small>Ta-da.</small></h1>
            <p>The merge <b>has</b> been executed. If there was a problem with
            this merge, please <i>please</i> get it straightened out ASAP. Causing
            disruption to the API users is pretty much the worst-case, so let's
            make sure we maintain sanity.
            <br />
            <br />
            The merge is shown below just for last-stage verification of the
            results. Please do pay attention to it. Feel free to head back
            home <a href = '{% url mom_index %}' >here</a>, or check the
            new legislator <a href = '{% url legislator merged.leg_id %}' >here</a>
            </p>
        </div>
        <div class = 'merge-results' >
            <h2>Actions Taken</h2>
            <p>In the event of a bad merge, please include this action
            summary</p>

            <ul>
            {% for action in actions %}
                <li>{{ action }}</li>
            {% endfor %}
            </ul>

            <h2>Merged Legislator</h2>
            <div class = 'merge-plan' >
                <table>
                    <tr>
                        <th>attr</th>
                        <th>value</th>
                    </tr>
                    {% for key, val in merged.items %}
                        <tr class = 'root-merge-fin' >
                            <td><b>{{ key }}</b></td>
                            <td class = 'merge-from-{{ val }}'>
                                <pre>{{ merged|key:key }}</pre>
                            </td>
                        </tr>
                    {% endfor %}
                <table>
            </div>
        </div>
    </div>
{% endblock %}
