{% extends "billy/base.html" %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
<div class="sidebar" style="left: 10px; position: fixed; top: 50px; width: 100px;">
<ul style="list-style-type: none; margin-left: 0px;">
{% for k in keys %}
 <li><a href="#{{k}}">{{k}}</a></li>
{% endfor %}
</ul>
</div>

<div class="content" style="margin-left: 100px;">
<a href="{{obj_url}}">remote</a>
{% if not forloop.last %} | {% endif %}
{% if obj_isbill %}
 <a href="/browse/{{obj.state}}/{{obj.session}}/{{obj.bill_id}}/">billy</a>
{% endif %}
<h3>[{{collection}}] {{obj_id}}</h3>

<pre>
{{obj_json|safe}}
</pre>
</div>

</div>

{% endblock %}
