{% extends "billy/base.html" %}
{% load billy_utiltags %}

{% block content %}
<style type="text/css">
    /* collapse sidebar margin */
    .container-fluid > .content { margin-left: 10px; }
</style>

<div class="container">
    <table class="condensed-table bordered-table">
        <thead>
            <tr><th>action</th><th>#</th></tr>
        </thead>
        <tbody>
            {% for action, num in data %}
                <tr><td>{{action}}</td><td>{{num}}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
