{% extends "billy/base.html" %}
{% load humanize %}
{% load billy_utiltags %}

{% block content %}
<div class="container">
    <h1>{{ metadata.name }}</h1>
</div>

<div class="container">
<div class="row">

<div class="span-one-third" id="metadata">
    <h4>Metadata</h4>
    <dl>
    {% for k, v in metadata|sorted_items %}
    {% if k != "terms" and k != "session_details" %}
    <dt>{{k}}</dt><dd>{{v}}</dd>
    {% endif %}
    {% endfor %}
    </dl>

    <h4>Terms</h4>
    <table>
        <tr><th>Term</th><th>Start Year</th><th>End Year</th><th>Sessions</th></tr>
        {% for term in metadata.terms %}
        <tr><td>{{term.name}}</td><td>{{term.start_year}}</td><td>{{term.end_year}}</td>
            <td><ul>{{term.sessions|unordered_list}}</ul></td>
        </tr>
        {% endfor %}
    </table>
    <h4><a href = "/browse/run-detail/{{ metadata|key:"_id" }}" >Last run information</a></h4>
    <ul>
    {% if runlog %}
        <li>This run took {{ runlog.scrape.time_delta }}, and was started on
        {{ runlog.scrape.start }}</li>
        <li>{% if runlog.failure %}
            <b>There was a failure during runtime</b>
        {% else %}
            The scrape took place without exception
        {% endif %}</li>
        {% for key, val in runlog.import.items %}
            <li>{{ key }} - out of {{ val.total }} records, {{ val.insert }}
            records were inserted, and {{ val.update }} were updated</li>
        {% endfor %}
    {% else %}
        <li>No records found, sadly. You might have run the import with an old
        version of Billy, or perhaps haven't run this state yet. However,
        the fact you're here might throw a wrench in all that.</li>
    {% endif %}
    </ul>
</div>

<div class="span-one-third" id="bills">
    <h4>Bills<a href="random_bill/">(random bill)</a></h4>
  <dl>
      <dt>Upper:</dt><dd>{{report.bills.upper_count}}</dd>
      <dt>Lower:</dt><dd>{{report.bills.lower_count}}</dd>
      <dt>Versions:</dt><dd>{{report.bills_version_count}}</dd>
      <dt>without actions:</dt><dd>{{report.bills.actionless_count}}</dd>
      <dt>without sponsors:</dt><dd>{{report.bills.sponsorless_count}}</dd>
      <dt>without versions:</dt><dd>{{report.bills.versionless_count}}</dd>
      <dt>without sources:</dt><dd>{{report.bills.sourceless_count}}</dd>
      <dt>Updated Today:</dt><dd>{{report.bills.updated_today}}%</dd>
      <dt>Updated This Month:</dt><dd>{{report.bills.updated_this_month}}%</dd>
      <dt>Updated This Year:</dt><dd>{{report.bills.updated_this_year}}%</dd>
  </dl>
  <h4>Bill Types</h4>
  <table>
      <tr><th>Type</th><th>#</th></tr>
      {% for name, num in report.bills.bill_types|sorted_items %}
      <tr><td>{{name}}</td><td>{{num}}</td></tr>
      {% endfor %}
  </table>
  <h4>Action Types</h4>
  <table>
      <tr><th>Type</th><th>#</th></tr>
      {% for name, num in report.bills.actions_per_type|sorted_items %}
      <tr><td>{{name}}</td><td>{{num}}</td></tr>
      {% endfor %}
  </table>
  <h4>Actors</h4>
  <table>
      <tr><th>Type</th><th>#</th></tr>
      {% for name, num in report.bills.actions_per_actor|sorted_items %}
      <tr><td>{{name}}</td><td>{{num}}</td></tr>
      {% endfor %}
  </table>
  <h4>Actions by Month</h4>
  <table>
      <tr><th>Type</th><th>#</th></tr>
      {% for name, num in report.bills.actions_per_month|sorted_items %}
      <tr><td>{{name}}</td><td>{{num}}</td></tr>
      {% endfor %}
  </table>

</div>

<div class="span-one-third" id="legislators">
    <h4><a href="legislators/">Legislators</a></h4>
    <dl>
      <dt>Upper:</dt><dd>{{report.legislators.upper_active_count}}</dd>
      <dt>Lower:</dt><dd>{{report.legislators.lower_active_count}}</dd>
      <dt>Inactive:</dt><dd>{{report.legislators.inactive_count}}</dd>
      <dt>with PVS id:</dt><dd>{{report.legislators.votesmart_id}}</dd>
      <dt>with TransparencyData id:</dt><dd>{{report.legislators.transparencydata_id}}</dd>
      <dt>with URL:</dt><dd>{{report.legislators.url}}</dd>
      <dt>with Photo URL:</dt><dd>{{report.legislators.photo_url}}</dd>
      <dt>with Email:</dt><dd>{{report.legislators.email}}</dd>
      <dt>without sources:</dt><dd>{{report.legislators.sourceless|length}}</dd>
      <dt>Updated Today:</dt><dd>{{report.legislators.updated_today}}%</dd>
      <dt>Updated This Month:</dt><dd>{{report.legislators.updated_this_month}}%</dd>
      <dt>Updated This Year:</dt><dd>{{report.legislators.updated_this_year}}%</dd>
    </dl>

    <h4><a href="committees/">Committees</a></h4>
    <dl>
      <dt>Upper:</dt><dd>{{report.committees.upper_count}}</dd>
      <dt>Lower:</dt><dd>{{report.committees.lower_count}}</dd>
      <dt>Joint:</dt><dd>{{report.committees.joint_count}}</dd>
      <dt>Empty:</dt><dd>{{report.committees.empty_count}}</dd>
      <dt>without sources:</dt><dd>{{report.committees.sourceless|length}}</dd>
      <dt>Updated Today:</dt><dd>{{report.committees.updated_today}}%</dd>
      <dt>Updated This Month:</dt><dd>{{report.committees.updated_this_month}}%</dd>
      <dt>Updated This Year:</dt><dd>{{report.committees.updated_this_year}}%</dd>
    </dl>
</div>

</div>
</div>

{% endblock %}
