{% extends "billy/base.html" %}
{% load humanize %}
{% load billy_utiltags %}

{% block content %}

<style>
tr:hover {cursor: pointer;}
</style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var trs = $("tr");
      trs.click(function(){
        window.location = $(this).attr('href');
        });
      });    
  </script>

<div class="container">
    <h2>{{ meta.name }} [{{ session }}]</h2>
<h3>All values for "{{object_type}}.{{key}}"</h3>
<table class="zebra-striped bordered-table condensed-table">
  <thead>
  <tr><th>%</th><th>#</th><th>value</th></tr>
  </thead>
  <tbody>
  {% for obj, count, percentage, params in objs  %}
  <tr class="link" href="/browse/{{ abbr }}/summary_object_key_vals?{{ params|safe }}">
    <td>{{ percentage|decimal_format }}</td>
    <td>{{count}}</td>
    <td>{{ obj|truncatewords:20 }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

</div>


{% endblock %}
