{% load url from future %}
<a name="{{title|slugify}}"></a>
<table class="table-striped table-condensed table-bordered">
 <caption><h3>{{title}}</h3></caption>
<thead>
 <tr style="background-color: #A3C2FF;">
   <th>Sessions</th>
   {% for c in column_names %}
     <th style="text-align: center;">{{ c }}</th>
   {% endfor %}
 </tr>
</thead>
<tbody>
{% for data, cells in rowdata %}
 {% with name=data.0 params=data.1 %}
 <tr>
  <td><strong>
  	{% if params %}
      <a href="/admin/{{ abbr }}/summary_object_key_vals?{{ params|safe }}">{{ name|safe }}</a>
    {% else %}
      {{name}}
    {% endif %}
  </strong></td>
 {% for cell in cells  %}
   <td style="text-align: right;">
   {% if cell == "0.00 %" or cell == 0 or cell == 'n/a' %}
     <span style="color: grey; font-style: italic;">{{ cell|safe }}</span>
   {% else %}
     {{ cell|safe }}
   {% endif %}
   </td>{% endfor %}</tr>
  {% endwith %}
{% endfor %}
</tbody>
</table>
