{% extends "billy/base.html" %}
{% load url from future %}
{% load billy_utiltags %}
{% block title %} {{meta.name}} bill list {% endblock title %}

{% block content %}

<h2>{{meta.name}} bills where {{query_text}}</h2>

<table class="table table-condensed">
    <thead> <tr>
            <th> Session </th>
            <th> Chamber </th>
            <th> bill_id </th>
            <th> Title </th>
    </tr> </thead>
    <tbody>
        {% for bill in bills %}
        <tr>
            <td> {{bill.session}} </td>
            <td> {{bill.chamber}} </td>
            <td> {{bill.bill_id}} </td>
            <td> {{bill.title}} </td>
            {% url 'bill' bill|level bill.session bill.bill_id as bill_url%}

            <td> <a href="{% url 'object_json' 'bills' bill|key:'_id' %}">json</a> </td>
            <td><a href="{{bill.get_absolute_url}}">public</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>All {{bill_ids|length}} matching IDs:<h3>
<textarea rows="10" cols="80" style="width: 100%;">{% for b in bill_ids %}{{b}} {% endfor %}</textarea>
{% endblock %}
