{% extends "billy/base.html" %}
{% load url from future %}
{% load billy_utiltags %}
{% block title %}{{metadata.name}} committees{% endblock %}

{% block content %}

<form action="{% url 'delete_committees' %}" method="POST">
{% csrf_token %}

{% for chamber in chambers %}
<div>
    <h3>{{chamber.name}} Committees </h3>
    <table class="table table-bordered table-striped">
    <tr>
        <td>Committee</td>
        <td>Members</td>
        <td>Sources</td>
        <td>Delete?</td>
    </tr>
    {% for com in chamber.committees %}
    <tr>
        <td> {{com.committee}}
             {% if com.subcommittee %} : {{com.subcommittee}} {% endif %}
             {% with com|key:"_id" as comm_id %}<br/>
             {% url 'committee' com|level comm_id as com_url %}
             {% if com_url %} <a href="{{com_url}}"><b>public</b></a> | {% endif %}
             <a href="{% url 'object_json' "committees" comm_id %}"><b>json</b></a>
             {% endwith %}
        </td>
        <td> <ul>
            {%for m in com.members %}
            <li> {{ m.name }} ({{m.role}})
                {% if m.leg_id %}
                {% url 'legislator_noslug' com|level m.leg_id as leg_url %}
                {% if leg_url %} <a href="{{leg_url}}">public</a> {% endif %}
                <a href="{% url 'object_json' "legislators" m.leg_id %}">json</a>
                {% else %} [<b>unmatched</b>]
                {% endif %}
            </li>
            {% empty %}
            <li>EMPTY</li>
            {% endfor %}
        </ul> </td>
        <td> <ul>
            {%for s in com.sources %}
                <li><a href="{{s.url}}">{{s.url}}</a></li>
            {% endfor %}
        </ul> </td>
        <td> <input type="checkbox" name="committees" value="{{com|key:"_id"}}"> </td>
    </tr>
    {% endfor %}
    </table>
</div>
{% endfor %}

<button type="submit" class="btn btn-danger">Delete Checked Committees</button>
</form>

{% endblock %}
