{% extends "billy/base.html" %}
{% load url from future %}

{% block content %}

<a class="btn" href="./?csv">Download CSV</a>

<table class="table table-condensed">
    <thead> <tr>
        {% for col in columns %}
        <th>{{col}}</th>
        {% endfor %}
    </tr> </thead>
    <tbody>
        {% for row in data %}
        <tr>
            {% for item in row %}
                <td>{{item}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
