{% extends "billy/base.html" %}
{% load url from future %}

{% block title %} index {% endblock %}

{% block script %}
{% endblock %}

{% block content-nocontainer %}
<div class="container-fluid">
<div class="content">
<table class="table table-bordered table-condensed index-table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th colspan=7>Legislators</th>
        <th colspan=5>Committees</th>
        <th colspan=7>Bills</th>
        <th colspan=3>Votes</th>
    <tr>
        <th>&nbsp;</th>
        <!-- legislators -->
        <th>vacant</th>
        <th>over</th>
        <th>TData</th>
        <th>URL</th>
        <th>Photo</th>
        <th>Email</th>
        <th>Offices</th>
        <!-- committees -->
        <th>upper</th>
        <th>lower</th>
        <th>joint</th>
        <th>empty</th>
        <th>leg_ids</th>
        <!-- bills -->
        <th>No Actions</th>
        <th>No Sponsors</th>
        <th>No Versions</th>
        <th>Dup. Versions</th>
        <th>w/ Subjects</th>
        <th>Actions w/ Types</th>
        <th>Sponsor ids</th>
        <!-- votes -->
        <th>total</th>
        <th>leg_ids</th>
        <th>Bad Counts</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td><a href="{{row.id}}/">{{row.name}}</a></td>
        <!-- legislators -->
        <td class="{{row.legislators.vacant_seats|length|yesno:"warning,good"}}">
            {{row.legislators.vacant_seats|length}}</td>
        <td class="{{row.legislators.overfilled_seats|length|yesno:"bad,good"}}">
            {{row.legislators.overfilled_seats|length}}</td>
        {% if row.influence_explorer %}
        <td
            {% if row.legislators.transparencydata_id < 75 %}
            class="bad"
            {% elif row.legislators.transparencydata_id < 95 %}
            class="warning"
            {% else %}
            class="good"
            {% endif %}
            >{{row.legislators.transparencydata_id|floatformat}}%</td>
        {% else %}
        <td class="good">---</td>
        {% endif %}
        <td
            {% if row.legislators.url < 90 %}
            class="bad"
            {% else %}
                {% if row.legislators.url < 98 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.legislators.url|floatformat}}%</td>

        <td
            {% if row.legislators.photo_url < 75 %}
            class="bad"
            {% else %}
                {% if row.legislators.photo_url < 95 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.legislators.photo_url|floatformat}}%</td>

        <td
            {% if row.legislators.email < 75 %}
                class="warning"
            {% else %}
                class="good"
            {% endif %}
            >{{row.legislators.email|floatformat}}%</td>

        <td
            {% if row.legislators.offices < 75 %}
            class="bad"
            {% else %}
                {% if row.legislators.offices < 95 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.legislators.offices|floatformat}}%</td>
        <!-- committees -->
        {% if 'upper' in row.chambers %}
            <td class="{{row.committees.upper_count|yesno:"good,bad"}}">
                {{row.committees.upper_count}}</td>
        {% else %}
            <td class="good">---</td>
        {% endif %}
        {% if 'lower' in row.chambers %}
            <td class="{{row.committees.lower_count|yesno:"good,bad"}}">
                {{row.committees.lower_count}}</td>
        {% else %}
            <td class="good">---</td>
        {% endif %}
        {% if row.chambers|length == 1 %}
            <td class="good">---</td>
        {% else %}
            <td class="{{row.committees.joint_count|yesno:"good,warning"}}">
                {{row.committees.joint_count}}</td>
        {% endif %}
        <td class="{{row.committees.empty_count|yesno:"bad,good"}}">
            {{row.committees.empty_count}}</td>
        <td
            {% if row.committees.members_with_leg_id < 95 %}
            class="bad"
            {% else %}
            class="good"
            {% endif %}
            >{{row.committees.members_with_leg_id|floatformat}}%</td>
        <!-- bills -->
        <td class="{{row.bills.actionless_count|yesno:"bad,good"}}">
            {{row.bills.actionless_count}}</td>
        <td class="{{row.bills.sponsorless_count|yesno:"bad,good"}}">
            {{row.bills.sponsorless_count}}</td>
        <td class="{{row.bills.versionless_count|yesno:"bad,good"}}">
            {{row.bills.versionless_count}}</td>
        <td class="{{row.bills.duplicate_versions|length|yesno:"bad,good"}}">
            {{row.bills.duplicate_versions|length}}</td>
        <td
            {% if not row.bills.have_subjects %}
            class="warning">---</td>
            {% else %}
                {% if row.bills.have_subjects < 25 %}
                class="bad"
                {% else %}
                    {% if row.bills.have_subjects < 90 %}
                    class="warning"
                    {% else %}
                    class="good"
                    {% endif %}
                {% endif %}
                >{{row.bills.have_subjects|floatformat}}%</td>
            {% endif %}
        <td
            {% if row.bills.typed_actions < 25 %}
            class="bad"
            {% else %}
                {% if row.bills.typed_actions < 50 %}
                class="warning"
                {% else %}
                class="good"
                {% endif %}
            {% endif %}
            >{{row.bills.typed_actions|floatformat}}%</td>
        <td
            {% if row.bills.sponsors_with_id < 90 %}
            class="bad"
            {% elif row.bills.sponsors_with_id < 95 %}
            class="warning"
            {% else %}
            class="good"
            {% endif %}
            >{{row.bills.sponsors_with_id|floatformat}}%</td>

        <!-- votes -->
        <td class="{{row.votes.vote_count|yesno:"good,bad"}}">
            {{row.votes.vote_count}}</td>
        <td
            {% if row.votes.rollcalls_with_leg_id < 95 %}
            class="bad"
            {% else %}
            class="good"
            {% endif %}
            >{{row.votes.rollcalls_with_leg_id|floatformat}}%</td>
        <td class="{{row.votes.bad_vote_counts|length|yesno:"bad,good"}}">
            {{row.votes.bad_vote_counts|length}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
