{% extends "billy/base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load billy_utiltags %}

{% block title %}Data Quality{% endblock %}

{% block script %}
<link rel="stylesheet" type="text/css" href="{% static 'select2-2.0/select2.css' %}"/>
<script type="text/javascript" src="{% static 'select2-2.0/select2.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".mselect").select2();
        });
    </script>
{% endblock %}

{% block content %}
<form action = '{% url admin_leg_ids_commit metadata.abbreviation %}' method = 'POST' >
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Term / Chamber</th>
        <th>Scraped Name</th>
        <th>Legislator</th>
    </tr>
{% for term, chamber, name in leg_ids %}
    <tr>
        <td>{{term}} {{chamber}}</td>
        <td>{{name}}</td>
        <td>
            <select class = 'mselect' name = '{{term}},{{chamber}},{{name}}' type = 'text' >
                <option value = 'Unknown' >Unknown</option>
                {% for leg in legs %}
                <option value = '{{ leg.leg_id }}' >
                {{ leg.first_name }} {{ leg.last_name }}
                ({{ leg.leg_id }})
                </option>
                {% endfor %}
            </select>
        </td>
    </tr>
{% endfor %}
</table>
<input class = 'btn btn-primary' type = 'submit' value = 'Make it so' />
</form>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Scraped Name</th>
        <th>Term</th>
        <th>Chamber</th>
        <th>Legislator ID</th>
    </tr>
{% for id in all_ids %}
    <tr>
        <td>{{all_ids|key:id|key:'name'}}</td>
        <td>{{all_ids|key:id|key:'session'}}</td>
        <td>{{all_ids|key:id|key:'chamber'}}</td>
        <td>{{all_ids|key:id|key:'leg_id'}}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
