{% extends "billy/base.html" %}
{% load billy_utiltags %}

{% block title %}{{ leg.full_name }}{% endblock %}

{% block content %}
<h3>{{ leg.full_name }}</h3>
<h4>
{{leg.party}}, {{ metadata.name }}, District {{ leg.district }}
</h4>

<div class="pull-right">
    <a href="{% url object_json "legislators" leg|key:'_id' %}">json dump</a>
    | <a href="{% url admin_legislator_edit leg|key:'_id' %}">edit me</a>
</div>

<dl>
    {% if leg.transparencydata_id %}
        <dt>TransparencyData ID</dt>
        <dd><a href="http://influenceexplorer.com/politician/id/{{leg.transparencydata_id}}?cycle=-1">{{leg.transparencydata_id}}</a></dd>
    {% endif %}
    <dt>Created</dt><dd>{{leg.created_at}}</dd>
    <dt>Updated</dt><dd>{{leg.updated_at}}</dd>
    {% for k,v in leg.items %}
    {% if "+" in k %}
        <dt>{{k}}</dt><dd>{{v}}</dd>
    {% endif %}
    {% endfor %}
</dl>

<div class="roles">
  <h4>Current Roles:</h4>
  <ul>
    {% for role in leg.roles %}
      <li>
        {% if role.type == 'member' %}
        {{ role.term }}:
        {% if role.chamber == "lower" %} {{metadata.lower_chamber_title }}
        {% else %} {{ metadata.upper_chamber_title}} {% endif %}
        from District {{role.district}}
        {% endif %}

        {% if role.type == 'committee member' %}
        member of the {{ role.committee }} Committee
        {% if role.subcommittee %}, {{role.subcommittee}} Subcommittee {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% for session, roles in leg.old_roles.iteritems %}
<div class="roles">
    <h4>{{session}} Roles:</h4>
  <ul>
    {% for role in roles %}
      <li>
        {% if role.type == 'member' %}
        {{ role.term }}:
        {% if role.chamber == "lower" %} {{metadata.lower_chamber_title }}
        {% else %} {{ metadata.upper_chamber_title}} {% endif %}
        from District {{role.district}}
        {% endif %}

        {% if role.type == 'committee member' %}
          member of the {{ role.committee }} Committee
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

<div class="sources">
  <h4>Sources:</h4>
  <ul>
    {% for source in leg.sources %}
    <li><a href="{{source.url}}">{{source.url}}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="photo">
{% if leg.photo_url %}
  <h4>Photo:</h4>
  <img src="{{ leg.photo_url }}" />
{% else %}
  <h4>No photo_url</h4>
{% endif %}
</div>

<form class="well form-inline" action="{% url retire_legislator leg.leg_id %}" method="POST">
  <h4>Retire Legislator</h4>
  <label>Retirement Date</label>
  <input type="text" placeholder="YYYY-MM-DD" name="end_date">
  <button type="submit" class="btn btn-danger">Retire Legislator</button>
</form>
{% endblock %}

