{% extends "billy/base.html" %}
{% load billy_utiltags %}
{% load url from future %}

{% block title %}{{ leg.full_name }}{% endblock %}

{% block script %}
    <script>
$(document).ready(function() {
    /* OK, so we need to attach to first name, last name, middle name,
       suffixes to rebuild the full_name field */
        var full_name  = $("#full_name")
        ,   first_name = $("#first_name")
        ,    last_name = $("#last_name")
        ,  middle_name = $("#middle_name")
        ,       suffix = $("#suffixes")
        ,    full_lock = $("#full_name-locked")
        ,      watched = [
                first_name
              , middle_name
              , last_name
              , suffix
            ];

        for ( var i = 0; i < watched.length; ++i ) {
            watched[i].keyup(function(e) {

                if ( full_lock.is(':checked') ) {
                    return; /* No need to update if we're locked. */
                }

                /* On keyup, let's update the full name field. */
                var new_full_name = first_name.val(),
                            names = watched.slice(1, -1);

                for ( var n = 0; n < names.length; ++n ) {
                    var val = names[n].val();
                    if ( val != "" ) {
                        new_full_name += " " + val;
                    }
                }
                /* This only updates the middle elements, not the first
                   (full_name) or last (suffix). */

                if ( suffix.val() != "" ) {
                    new_full_name += ", " + suffix.val();
                    /* Foo R. Bar, PhD
                                 ^ we need that */
                }

                full_name.val(new_full_name);
            });
        }
});
    </script>
{% endblock %}

{% block content %}

<a href="{% url 'object_json' "legislators" leg.leg_id %}" >json</a>
{% url 'legislator_noslug' leg|level leg.leg_id as leg_url %}
{% if leg_url %} | <a href="{{leg_url}}" >public</a> {% endif %}

<form action="{% url 'admin_legislator_edit_commit' %}" method = 'post' >
    {% csrf_token %}
    <input type="hidden" value="{{ leg.leg_id }}" name="leg_id" />
<table>
{% for field in fields %}
    <tr>
        <td>
            {{ field }}
        </td>
        <td>
            <input
        type="text"
        name="{{field}}"
          id="{{field}}"
       value="{% if leg|key:field != None %}{{ leg|key:field }}{% endif %}"
            />
        </td>
        <td>
            is locked
            <input type="checkbox"
                   name="{{field}}-locked"
                     id="{{field}}-locked"
                  value="{{field}}"
{% if field in locked %}
                checked
{% endif %}
            />
        </td>
    </tr>
{% endfor %}
    <tr>
        <td>
            Source used for this change (not always needed)
        </td>
        <td>
            <input
        type="text"
        name="change_source"
          id="change_source"
       value=""
            />
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit"
                   class="btn btn-primary"
                   value="update legislator" /></td>
        <td></td>
    </tr>
</table>
</form>

<form class="well form-inline" action="{% url 'retire_legislator' leg.leg_id %}" method="POST">
  <h4>Retire Legislator</h4>
  <label>Retirement Date</label>
  <input type="text" placeholder="YYYY-MM-DD" name="end_date">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Retire Legislator</button>
</form>

{% endblock %}
