{% extends "billy/base.html" %}

{% block title %}{{metadata.name}} legislators{% endblock %}

{% block content %}
<h1>{{metadata.name}} legislators</h1>

<div class="span4">
<h3> {{metadata.upper_chamber_title}}s </h3>
<table class="table">
<thead>
<tr>
    <th>Name</th>
    <th>District</th>
    <th>Party</th>
</tr>
</thead>
<tbody>
{% for leg in upper_legs %}
<tr>
    <td><a href="{% url legislator leg.leg_id %}">{{leg.first_name}} {{leg.last_name}}</a></td>
    <td>{{leg.district}}</td>
    <td>{{leg.party}}</td>
</tr>
{% endfor %}
</table>
</div>

<div class="span4">
<h3> {{metadata.lower_chamber_title}}s </h3>
<table class="table">
<thead>
<tr>
    <th>Name</th>
    <th>District</th>
    <th>Party</th>
</tr>
</thead>
<tbody>
{% for leg in lower_legs %}
<tr>
    <td><a href="{% url legislator leg.leg_id %}">{{leg.first_name}} {{leg.last_name}}</a></td>
    <td>{{leg.district}}</td>
    <td>{{leg.party}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

<div class="span4">
<h3> inactive legislators </h3>
<table class="table">
<thead>
<tr>
    <th>Name</th>
    <th>Old Roles</th>
</tr>
<thead>
<tbody>
{% for leg in inactive_legs %}
<tr>
    <td><a href="{% url legislator leg.leg_id %}">{{leg.first_name}} {{leg.last_name}}</a></td>
    <td>
        <dl>
            {% for k,v in leg.old_roles.iteritems %}
            <dt>{{k}}</dt>
            <dd>{{v.0.chamber}} {{v.0.district}} {{v.0.party}}</dd>
            {% endfor %}
        </dl>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
