{% extends "billy/base.html" %}
{% load billy_utiltags %}
{% load url from future %}

{% block title %}{{metadata.name}} legislators{% endblock %}

{% block content %}
<h1>{{metadata.name}} legislators</h1>

{% if overfilled %}
<div class="alert alert-error">
    <h4 class="alert-heading">Extra Legislators</h4>
    <ul>
        {% for seat in overfilled %}
        <li>{{seat.2}} extra legislator{{seat.2|pluralize}} in {{seat.0}}-{{seat.1}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if vacant %}
<div class="alert">
    <h4 class="alert-heading">Vacant Seats</h4>
    <ul>
        {% for seat in vacant %}
        <li>{{seat.2}} empty seat{{seat.2|pluralize}} in {{seat.0}}-{{seat.1}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


{% for chamber in chambers %}
<div class="span5">
<h3> {{chamber.title}}s </h3>
<table class="table">
<thead>
<tr>
    <th>Name</th>
    <th>District</th>
    <th>Party</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
</tr>
</thead>
<tbody>
{% for leg in chamber.legislators %}
<tr>
    <td>{{leg.first_name}} {{leg.last_name}}</td>
    <td>{{leg.district}}</td>
    <td>{{leg.party}}</td>
    <td>
        {% url 'legislator_noslug' leg|level leg.leg_id as leg_url %}
        {% if leg_url %}<a href="{{leg_url}}">public</a>{% endif %}
    </td>
    <td><a href="{% url 'object_json' "legislators" leg.leg_id %}">json</a></td>
    <td><a href="{% url 'admin_legislator_edit' leg.leg_id %}">edit</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endfor %}

<div class="span4">
<h3> inactive legislators </h3>
<table class="table">
<thead>
<tr>
    <th>Name</th>
    <th>Old Roles</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
</tr>
<thead>
<tbody>
{% for leg in inactive_legs %}
<tr>
    <td>{{leg.first_name}} {{leg.last_name}}</td>
    <td>
        <dl>
            {% for k,v in leg.old_roles.iteritems %}
            <dt>{{k}}</dt>
            <dd>{{v.0.chamber}} {{v.0.district}} {{v.0.party}}</dd>
            {% endfor %}
        </dl>
    </td>
    <td><a href="{% url 'object_json' "legislators" leg.leg_id %}">json</a></td>
    <td><a href="{% url 'admin_legislator_edit' leg.leg_id %}">edit</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock %}
