{% extends "billy/base.html" %}
{% load url from future %}
{% load humanize %}
{% load staticfiles %}
{% load billy_utiltags %}

{% block title %}Data Quality{% endblock %}

{% block script %}
<link rel="stylesheet" type="text/css" href="{% static 'select2-2.0/select2.css' %}"/>
<script src="{% static 'select2-2.0/select2.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".mselect").select2();
        });
    </script>
{% endblock %}

{% block content %}
<form action="{% url 'admin_matching_commit' metadata.abbreviation %}" method="POST" >
{% csrf_token %}
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Term / Chamber</th>
        <th>Scraped Name</th>
        <th>Legislator</th>
        <th>Committee</th>
    </tr>
{% for term, chamber, name in unmatched_ids %}
    <tr>
        <td>{{term}} {{chamber}}</td>
        <td>{{name}}</td>
        <td>
            <select class="mselect" name="legislator,{{term}},{{chamber}},{{name}}" type="text" >
                {{leg_options|safe}}
            </select>
        </td>
        <td>
            <select class="mselect" name="committee,{{term}},{{chamber}},{{name}}" type="text" >
                {{com_options|safe}}
            </select>
        </td>
    </tr>
{% endfor %}
</table>
<input class="btn btn-primary" type="submit" value="Make it so" />
</form>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Scraped Name</th>
        <th>Term</th>
        <th>Chamber</th>
        <th>Type</th>
        <th>Legislator ID</th>
        <th>Legislator Name</th>
        <th>Danger Zone</th>
    </tr>
{% for id, leg in all_ids.iteritems %}
    <tr>
        <td>{{leg.name}}</td>
        <td>{{leg.term}}</td>
        <td>{{leg.chamber}}</td>
        <td>{{leg.type}}</td>
        <td>{{leg.obj_id}}</td>
        {% if known_objs|key:leg.obj_id %}
            <td>{{known_objs|key:leg.obj_id|key:'full_name'}}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td><a href="{% url 'admin_matching_remove' metadata.abbreviation id %}" >remove</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
