{% extends "billy/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load humanize %}
{% load billy_utiltags %}

{% block script %}
<link rel="stylesheet" type="text/css" href="{% static 'select2-2.0/select2.css' %}"/>
<script src="{% static 'select2-2.0/select2.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#leg1').select2({placeholder: 'Pick a Legislator'});
            $('#leg2').select2({placeholder: 'Pick a Legislator'});
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container" >
        <div class="hero-unit">
            <h1>Merge-o-matic <small>(but you can call me mom)</small></h1>
            <p>
            The Merge-o-matic (or MOM for short) will try to automagically
            merge two legislators into a single ultra-legislator. This comes in
            super handy for people who have moved chambers, changed their name,
            or messed up what we remember as their scraped name.
            </p>
        </div>

        <form action="{% url 'mom_merge' abbr %}" action="GET" >
            <fieldset>
                <div class="control-group" >
                    <label>Legislator 1</label>
                    <div class="controls" >
                        <select id="leg1" type="text" name="leg1" >
                            {% for leg in legs %}
                            <option value="{{ leg.leg_id }}" >
                            {{ leg.first_name }} {{ leg.last_name }}
                            ({{ leg.leg_id }})
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group" >
                    <label>Legislator 2</label>
                    <div class="controls">
                        <select id="leg2" type="text" name="leg2">
                            {% for leg in legs %}
                            <option value ="{{ leg.leg_id }}" >
                            {{ leg.first_name }} {{ leg.last_name }}
                            ({{ leg.leg_id }})
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-actions" >
                    <input type="submit" class="btn-primary" />
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
