{% extends "billy/base.html" %}
{% load url from future %}
{% load humanize %}
{% load billy_utiltags %}

{% block title %}
    Feeds
{% endblock %}

{% block content-nocontainer %}
<div class="container-fluid">
<div class="sidebar" style="left: 10px; position: fixed; top: 50px; width: 100px;">
<ul style="list-style-type: none; margin-left: 0px;">
{% for a in abbrs %}
    <li><a href="{% url 'newsblogs' %}?abbr={{a}}">{{a}}</a></li>
{% endfor %}
</ul>
</div>
<div class="content" style="margin-left: 130px; max-width: 60em;">

    {% if abbr %}
        <h3>{{entry_count}} news and blog items for {{abbr|upper}}</h3>
    {% endif %}
    <div class="pagination">

        {# commence pagination insanity #}
        <ul>
          {% for tabnumber in previous %}
            {% if forloop.first %}
              <li><a href="?page={{ tabnumber|add:-1 }}">«</a></li>
            {% else %}
              <li><a href="?page={{ tabnumber }}">{{ tabnumber }}</a></li>
            {% endif %}
          {% endfor %}

      <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>

          {% for tabnumber in next_ %}
            {% if not forloop.last %}
              <li><a {% if forloop.counter == tab %}class="active"{% endif %} href="?page={{ tabnumber }}">{{ tabnumber }}</a></li>
            {% else %}
              <li><a href="?page={{ tabnumber|add:1 }}">»</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% for entry in entries %}
        {% include "billy/entry.html" %}
    {% endfor %}
</div>
{% endblock %}
