{% extends "billy/base.html" %}
{% load url from future %}
{% load humanize %}

{% block content-nocontainer %}
<div class="container-fluid">

    <div class="sidebar" style="left: 10px; position: fixed; top: 50px; width: 100px;">
        <ul style="list-style-type: none; margin-left: 0px;">
        {% for k in obj.keys %}
         <li><a href="#{{k}}">{{k}}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="content" style="margin-left: 100px;">
    {% if not obj_url == None %}
        <a href="{{obj_url}}">remote</a>
    {% endif %}
    <h3>[{{collection}}] <a href="{{model_obj.get_absolute_url}}">{{obj_id}}</a></h3>

    <pre>
    {{obj_json|safe}}
    </pre>
    </div>

</div>

{% endblock %}
