{% extends "billy/base.html" %}
{% load url from future %}
{% load humanize %}
{% load staticfiles %}
{% load billy_utiltags %}

{% block title %}Data Quality{% endblock %}

{% block script %}
    <link rel="stylesheet" type="text/css" href="{% static 'select2-2.0/select2.css' %}"/>
    <script src="{% static 'select2-2.0/select2.min.js' %}"></script>
    <script>

    var uncat_subjects = {
{% for sub in uncat_subjects %}
            "{{sub.0}}": "{{sub.2}}",{% endfor %}
        },
        subject_order = [
{% for sub in uncat_subjects %}
            "{{sub.0}}",{% endfor %}
        ],
        subjects = [
{% for sub in normalized_subjects %}
            "{{sub}}",{% endfor %}
        ],
        count = 0,
        max = 50;

    function load_block() {
        var rMax = count + max;
        if ( subject_order.length < rMax ) {
            rMax = subject_order.length;
            $("#load-more").hide();
        }

        for ( ; count < rMax; ++count ) {
            var i = subject_order[count],
                obj = uncat_subjects[i];
                buf = "<tr><td>" + i;
                buf += "<input type = 'hidden' value = '" + i;
                buf += "' name = '" + obj + "-remote' />";

                buf += "</td><td><select name = '" + obj + "-normal' id='"
                       + obj + "-normal' multiple >";

            for ( var i in subjects ) {
                var subject = subjects[i];
                buf += "<option value='" + subject + "' >" + subject +
                       "</option>";
            }
            buf += "</select></td></tr>";
            $("#target").append(buf);
            $("#" + obj + "-normal").select2();
        }
        $("#showing").html(count);
    }

    $(document).ready(function() {
        $("#total").html(subject_order.length);
        load_block();
    });
    </script>
{% endblock %}

{% block content %}
<h2>Subjects needing sorting</h2>

<h3>Currently showing <span id="showing" >0</span> out
    of <span id="total">Unknown (wait a second)</span></h3>
<br />

<form action="{% url 'admin_subjects_commit' metadata.abbreviation %}" method = "POST" >
    {% csrf_token %}
<table class="table table-striped table-bordered table-condensed" id="target">
    <tr>
        <th>"Foreign" subject</th>
        <th>Billy subject</th>
    </tr>
</table>
<button type="button" onclick="load_block();"
        id="load-more"
        class="btn btn-info" >Load more</button>
<input type="submit" class="btn btn-primary" name="sub" value="Make it so" />
</form>

<h2>Existing subjects</h2>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>"Foreign" subject</th>
        <th>Billy subject</th>
        <th>Beleted</th>
    </tr>
{% for subject in subjects %}
    <tr>
        <td>{{ subject.remote }}</td>
        <td>
{% for n in subject.normal %}
<span class="label label-info">{{ n }}</span>
{% endfor %}
        </td>
        <td><a href="{% url 'admin_subjects_remove' metadata.abbreviation subject|key:"_id" %}" >remove</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
