{% extends "billy/base.html" %}
{% load url from future %}
{% load humanize %}
{% load billy_utiltags %}

{% block content %}

  <script>
    $(document).ready(function(){
      var trs = $("tr");
      trs.click(function(){
        window.location = $(this).attr('href');
        });
      });    
  </script>

<div class="container">
    <h2>{{ meta.name }} [{{ session }}]</h2>
<h3>All values for "{{object_type}}.{{key}}"</h3>
<table class="table table-striped table-bordered table-condensed hovertable">
  <thead>
  <tr><th>%</th><th>#</th><th>value</th></tr>
  </thead>
  <tbody>
  {% for obj, count, percentage, params in objs  %}
  <tr class="link" href="/admin/{{ abbr }}/summary_object_key_vals?{{ params|safe }}">
    <td>{{ percentage|decimal_format }}</td>
    <td>{{count}}</td>
    <td>{{ obj|truncatewords:20 }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

</div>


{% endblock %}
