{% extends "billy/base.html" %}
{% load url from future %}
{% load billy_utiltags %}

{% block title %} {{meta.name}} bad vote list {% endblock title %}

{% block content %}

<h2>{{meta.name}} bad vote counts</h2>

<table class="table table-condensed">
    <thead> <tr>
            <th> Chamber </th>
            <th> Session </th>
            <th> bill_id </th>
            <th> vote_id </th>
            <th> bad votes </th>
    </tr> </thead>
    <tbody>
        {% for vote in votes %}
        <tr>
            <td> {{vote.chamber}} </td>
            <td> {{vote.bill.session}} </td>
            <td> <a href="/{{vote|level}}/{{vote.bill_id}}">{{vote.bill_id}}</a> </td>
            <td> <a href="{% url 'object_json' "votes" vote|private:"id" %}">{{vote|private:"id"}}</a> </td>
            <td> {% if vote.yes_count != vote.yes_votes|length %} yes {% endif %}
                {% if vote.no_count != vote.no_votes|length %} no {% endif %}
                {% if vote.other_count != vote.other_votes|length %} other {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>All {{vote_ids|length}} IDs:<h3>
<textarea rows="10" cols="80" style="width: 100%;">{% for b in vote_ids %}{{b}} {% endfor %}</textarea>
{% endblock %}
